body{
margin: 0;
text-align: center;
font-family: 'Roboto Slab', serif;
color:#40514E;



}

p {
      line-height: 2;
}
h1{
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #056676;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin:0 auto 0 auto;
  color: #056676;
    font-weight: normal;
}


h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.ifu{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #dddddd;
  border-width: 7px;
  width: 5%;
  margin: 100px auto;
}
.Hello{
  margin-bottom: 40px ;
}
.intro{
  width: 29%;
  margin: auto;
}

.top-container{
  background-color: #68b0ab;
  padding-top: 50px;
}

.dogs{
  width: 170px;
    height: 170px;

}
.my-Skills{
  padding-bottom: 20px;
}
.skill-row{
  width:50%;
  margin:50px auto 100px auto;
    text-align: left;
    line-height: 2;
}


.button{
  background-color:  #11999E;
border-radius: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 30px auto 50px auto;
}


  .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
*/
.contact{
border-bottom-width: 10px;
margin:10px auto auto auto;
border-right-width: 20px;
}

/*.text-skills{
  text-align: left;*/



.bottom-cloud{
  position: absolute;
  left:7%;
  top:350px;

}
.top-cloud{
  position: relative;
  left:33%;
}

.piano-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.my-pic{
  width: 170px;
    height: 170px;
    position: relative;
    margin: 60px auto 10px auto;
    right: 10px;

}
.contact-me{
  background-color: white;
}
.bottom-container{
  background-color:  #68b0ab;
  padding-top: 8px;
  padding-bottom: 20px;
}
.footer-link{
  padding-left: 20px;
    padding-right: 20px;

    color: #056676;
}
.coding{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.Pro{
  text-decoration: underline;
}
.netanel{
  color:#EAF6F6;
font-size: 12px;
}

.ending{
  width: 35%;
  margin: auto;
}



/*
    margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
*/
